.cardGrid-v2 {
  .cardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 16px;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px 10px;
    }

    &__item {
      &,
      & > * {
        height: 100%;
      }
    }
  }
}
