.filters-v1 {
  & .filters {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;

      @media only screen and (max-width: 1600px) {
        gap: 10px;
      }
    }

    /* Mobile Version */
    &--mobile {
      .filters__wrapper {
        @media only screen and (max-width: 1023px) {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          gap: 0;

          padding: 5px 5px;
          border-radius: 10px;
          border: 1px solid var(--primaryContrastColor);
          background-color: var(--white);
          // margin: -10px -10px;}

          & > *:not(:last-child) {
            @media only screen and (max-width: 1023px) {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  & .checkboxFilter {
    // &__wrapper {
    // }

    &__input {
      display: block;
      width: 27px;
      height: 27px;

      position: absolute;
      top: 0.65em;
      left: 0;
      transform: translateY(-50%);

      border: none;
      outline: none;
      background-color: transparent;
      z-index: 0;
      opacity: 0;

      &:checked {
        & + .checkboxFilter__label {
          color: var(--primaryColor);

          &::after {
            opacity: 1;
          }
        }
      }

      &:disabled {
        & + .checkboxFilter__label {
          color: var(--lightGreyColor);

          &::before {
            background-color: var(--greyTextColor);
          }

          &::after {
            opacity: 1;
            content: url("../../../../../public/build/svgs/filter-check-disabled.svg");
          }
        }
      }
    }

    &__label {
      position: relative;

      font-size: 26px;
      font-family: "freightsans-medium";
      font-weight: 100;
      line-height: 1.3em;
      color: var(--primaryTextColor);
      padding-left: 47px;
      transition: color var(--transition-short) linear;

      @media only screen and (max-width: 1600px) {
        font-size: 20px;
        padding-left: 40px;
      }

      &:hover,
      &:focus {
        outline: none;
        cursor: pointer;
        color: var(--primaryColor);
      }

      &::before {
        content: "";

        display: block;
        width: 27px;
        height: 27px;

        position: absolute;
        top: 0.65em;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;

        color: inherit;
        background-color: var(--bodyColor);
        border: 2px solid currentColor;
        border-radius: 5px;
        transition: border-color var(--transition-short) linear;

        outline: none;
        cursor: pointer;

        @media only screen and (max-width: 1600px) {
          width: 23px;
          height: 23px;
        }
      }

      &::after {
        content: url("../../../../../public/build/svgs/filter-check-default.svg");

        display: flex;
        align-items: center;
        justify-content: center;

        width: 27px;
        height: 27px;

        position: absolute;
        top: 0.65em;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
        opacity: 0;

        color: inherit;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        transition: opacity var(--transition-short) linear;

        @media only screen and (max-width: 1600px) {
          width: 18px;
          height: 18px;
          left: 3px;
        }
      }
    }

    /* Mobile Version */
    &--mobile {
      @media only screen and (max-width: 1023px) {
        flex: 1 1;
      }

      .checkboxFilter__wrapper {
        @media only screen and (max-width: 1023px) {
          display: block;
          text-align: center;
        }
      }

      .checkboxFilter__input {
        @media only screen and (max-width: 1023px) {
          visibility: hidden;
        }

        &:checked {
          & + .checkboxFilter__label {
            @media only screen and (max-width: 1023px) {
              color: var(--white);
              background-color: var(--primaryColor);
              border-color: var(--primaryColor);
            }
          }
        }

        &:disabled {
          & + .checkboxFilter__label {
            @media only screen and (max-width: 1023px) {
              color: var(--lightGreyColor);
              background-color: var(--greyTextColor);
              border-color: var(--greyTextColor);
            }
          }
        }
      }

      .checkboxFilter__label {
        @media only screen and (max-width: 1023px) {
          position: relative;

          display: block;
          width: 100%;
          font-size: 16px;
          font-family: "freightsans-medium";
          font-weight: 100;
          line-height: 1.3em;
          color: var(--primaryTextColor);
          border-radius: 5px;
          padding-left: 0;
          padding: 12px 20px;
          border: 1px solid transparent;
          background-color: transparent;
          white-space: nowrap;
          transition: color var(--transition-short) linear,
            border-color var(--transition-short) linear,
            background-color var(--transition-short) linear;
        }

        @media only screen and (max-width: 520px) {
          font-size: 14px;
          padding: 12px 12px;
        }

        &:hover,
        &:focus {
          @media only screen and (max-width: 1023px) {
            outline: none;
            cursor: pointer;
            color: var(--primaryColor);
            border-color: var(--primaryColor);
          }
        }

        &:active {
          @media only screen and (max-width: 1023px) {
            outline: none;
            cursor: pointer;
            color: var(--white);
            border-color: var(--primaryColor);
            background-color: var(--primaryColor);
          }
        }

        &::before,
        &::after {
          @media only screen and (max-width: 1023px) {
            content: none;
          }
        }
      }
    }
  }
}
