.richTextContent-v1 {
  & > *:not(:last-child) {
    margin-bottom: 20px;
  }

  figure {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0 0 calc(100% * 317 / 1197) 0;
    overflow: hidden;
    border-radius: 20px;

    @media only screen and (max-width: 768px) {
      padding: 0 0 calc(100% * 137 / 390) 0;
      border-radius: 10px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .blogDetailLeftCard {
    & > *:not(:last-child) {
      margin-bottom: 20px;
    }

    @media only screen and (min-width: 1439px) {
      & li {
        margin-left: 402px;
      }

      &::after {
        content: "";
        clear: both;
        display: table;
      }
    }
  }

  figure.left {
    @media only screen and (min-width: 1439px) {
      float: left;
      width: 382px;
      height: 518px;
      margin-right: 20px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 26px;
    font-family: "freightsans-bold";
    font-weight: 100;
    line-height: 1.3em;
    color: var(--primaryTextColor);

    @media only screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  p,
  li,
  li p {
    font-size: 20px;
    font-family: "freightsans-medium";
    font-weight: 100;
    line-height: 1.2em;
    color: var(--primaryTextColor);

    @media only screen and (max-width: 768px) {
      font-size: 16px;
    }
  }

  ul,
  ol {
    list-style: none;
  }

  & li {
    position: relative;
    padding-left: 32px;

    @media only screen and (max-width: 768px) {
      padding-left: 25px;
    }

    &::before {
      content: "";
      display: block;

      position: absolute;
      top: 0.4em;
      left: 0;

      font-size: inherit;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--primaryColor);
    }
  }
}
