.twoColumnLayout-v1 {
  .twoColumnLayout {
    display: flex;
    margin: -18px -18px;

    @media only screen and (max-width: 1280px) {
      margin: -10px -10px;
    }

    @media only screen and (max-width: 1023px) {
      flex-wrap: wrap;
    }

    & > * {
      padding: 18px 18px;

      @media only screen and (max-width: 1280px) {
        padding: 10px 10px;
      }
    }

    &__shortColumn {
      flex: 1 1 25%;
      max-width: 434px; // 398px + 36px = 434px
      min-width: 300px;

      @media only screen and (max-width: 1023px) {
        flex: 1 1 100%;
        max-width: 100%;
        min-width: unset;
      }

      &.small {
        max-width: 286px; // 272px + 14px = 286px

        @media only screen and (max-width: 1023px) {
          flex: 1 1 100%;
          max-width: 100%;
          min-width: unset;
        }
      }
    }

    &__wideColumn {
      flex: 1 1 75%;
      max-width: 75%;

      @media only screen and (max-width: 1023px) {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
  }
}

.sidebar {
  &.sticky {
    @media only screen and (max-width: 768px) {
      position: static;
    }
  }

  &__section {
    &:not(:last-of-type) {
      padding-bottom: 50px;

      @media only screen and (max-width: 768px) {
        padding-bottom: 25px;
      }
    }
  }

  &__heading {
    font-size: 26px;
    font-family: "freightsans-bold";
    font-weight: 100;
    line-height: 1.3em;
    color: var(--primaryTextColor);
    margin-bottom: 20px;

    @media only screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  // &__navList {
  // }

  &__navItem {
    &:not(:last-of-type) {
      margin-bottom: 15px;

      @media only screen and (max-width: 768px) {
        margin-bottom: 10px;
      }
    }
  }

  &__navLink {
    font-size: 26px;
    font-family: "freightsans-medium";
    font-weight: 100;
    line-height: 1.3em;
    color: var(--primaryTextColor);
    transition: color var(--transition-short) linear;

    @media only screen and (max-width: 1440px) {
      font-size: 24px;
    }

    @media only screen and (max-width: 768px) {
      font-size: 18px;
    }

    &:active,
    &:focus,
    &:hover {
      outline: none;
      cursor: pointer;
      color: var(--primaryColor);
    }

    &.primary {
      color: var(--primaryColor);
    }
  }

  &__author {
    width: 100%;
    max-width: 323px;

    img {
      display: inline-block;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      margin-bottom: 8px;
    }

    h5 {
      font-size: 24px;
      font-family: "freightsans-book";
      font-weight: 100;
      line-height: 1.35em;
      color: var(--primaryTextColor);
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      font-family: "freightsans-medium";
      font-weight: 100;
      line-height: 1.2em;
      color: var(--primaryTextColor);
    }
  }

  // &__filters {
  // }
}
