*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "freightsans-medium", sans-serif;
  // font-weight: 500;
  color: var(--primaryTextColor);
  background-color: var(--bodyColor);
}

a {
  color: inherit;
  text-decoration: none;
}

// Max Container
.wrapper-fluid,
.container-fluid {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

// Main Container
.wrapper,
.container {
  position: relative;
  width: 95%;
  max-width: 1820px;
  margin: 0 auto;

  @media only screen and (max-width: 768px) {
    width: calc(100% - 40px);
  }
}

// Inner Container
.container-inner {
  width: 94.51%;
  margin: 0 auto;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

// Section
.section {
  &:not(.pd-none) {
    padding-top: var(--gap);
    padding-bottom: var(--gap);
  }
  &.pd-btm-none {
    padding-bottom: 0;
  }
  &.pd-top-none {
    padding-top: 0;
  }
}

// Headings
.heading-1 {
  font-size: 36px;
  font-family: "freightsans-bold";
  font-weight: 100;
  line-height: 1.3em;
  color: var(--primaryTextColor);

  @media only screen and (max-width: 1440px) {
    font-size: 28px;
  }

  @media only screen and (max-width: 768px) {
    font-size: 24px;
  }

  &:not(.m-0) {
    margin-bottom: 30px;

    @media only screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &.primary {
    color: var(--primaryColor);
  }
}

.heading-2 {
  font-size: 40px;
  font-family: "freightsans-bold";
  font-weight: 100;
  line-height: 1.3em;
  color: var(--primaryTextColor);

  @media only screen and (max-width: 1600px) {
    font-size: 36px;
  }

  @media only screen and (max-width: 1440px) {
    font-size: 28px;
  }

  // @media only screen and (max-width: 768px) {
  //   font-size: 24px;
  // }

  &:not(.m-0) {
    margin-bottom: 30px;

    @media only screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &.primary {
    color: var(--primaryColor);
  }
}

// Buttons
.btn-1 {
  // Reset
  appearance: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;

  display: inline-block;
  font-size: 18px;
  font-family: "freightsans-bold";
  font-weight: 100;
  line-height: 1.3em;
  color: var(--primaryColor);
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid var(--primaryColor);
  background-color: var(--primaryContrastColor);
  transition: color var(--transition-short) ease,
    background-color var(--transition-short) ease;

  @media only screen and (max-width: 768px) {
    padding: 8px 25px;
  }

  &.active,
  &:active,
  &:focus,
  &:hover {
    outline: none;
    cursor: pointer;
    color: var(--white);
    background-color: var(--primaryColor);
  }

  &.responsive {
    padding: 0 0;
    border-radius: 0;
    border: none;
    background-color: transparent;

    &.active,
    &:active,
    &:focus,
    &:hover {
      background-color: var(--primaryContrastColor);
    }
  }
}

.btn-2 {
  // Reset
  appearance: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;

  display: inline-block;
  width: 100%;
  font-size: 26px;
  font-family: "freightsans-bold";
  font-weight: 100;
  line-height: 1.3em;
  color: var(--white);
  text-align: center;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid var(--primaryColor);
  background-color: var(--primaryColor);
  transition: color var(--transition-short) linear,
    background-color var(--transition-short) linear;

  @media only screen and (max-width: 1600px) {
    font-size: 20px;
  }

  @media only screen and (max-width: 1024px) {
    font-size: 16px;
  }

  @media only screen and (max-width: 768px) {
    padding: 10px 25px;
    font-size: 13px;
  }

  &.active,
  &:active,
  &:focus,
  &:hover {
    outline: none;
    cursor: pointer;
    color: var(--primaryColor);
    background-color: var(--bodyColor);
  }
}

// Hide on Mobile
.onlyDesktop {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

// Hide on Tablet
.onlyLargeDesktop {
  @media only screen and (max-width: 1023px) {
    display: none;
  }
}

// Hide on Desktop
.onlyMobile {
  @media only screen and (min-width: 769px) {
    display: none;
  }
}

// To Make Element Stick on top
.sticky {
  position: sticky;
  top: 0;
}

//Custom

/* Mobile Menu */
.mobileMenuStyle1{
  .mobileMenu__body{
    .sideNavigation{
      li{
        .sideDropdown{
          li{
            a{
             &.bold{
              font-weight: bold;
             } 
            }
          }
        }
      }
    }
  }
}
/* ------------ */

/* NewsLetterForm Style1 */
.newsLetterStyle1{
  .newsLetter{
    width: 100%;
  }

  .newsLetter__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 85px 90px;
    border-radius: 20px;
    background-color: var(--primaryColor);
  }

  .newsLetter__left{
    width: 54%;
  }

  .newsLetter__right {
    width: 46%;
    padding-left: 35px;
  }

  .newsLetter__typography {
    .heading {
      font-size: 56px;
      font-family: "freightsans-bold";
      font-weight: 100;
      line-height: 1.2em;
      color: var(--white);
    }
  }

  .newsLetter__formGroup {
    position: relative;
    width: 100%;
    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
  }

  .newsLetter__input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 26px;
    font-family: "freightsans-medium";
    font-weight: 100;
    line-height: 1.2em;
    color: var(--greyTextColor);
    background-color: transparent;
    padding: 15px 20px;

    &::placeholder{
      color: currentColor;
    }

    &::-moz-placeholder{
      color: currentColor;
    }
  }

  .newsLetter__button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-family: "freightsans-bold";
    font-weight: 100;
    line-height: 1.2em;
    text-align: center;
    white-space: nowrap;
    color: var(--primaryColor);
    padding: 22px 22px;
    background-color: var(--primaryContrastColor);
    border-radius: 10px;
    transition: color 0.3s linear, background-color 0.3s linear;

    &:active, &:focus, &:hover {
      outline: none;
      cursor: pointer;
      color: var(--white);
      background-color: var(--primaryColor);
    }
  }
}


@media only screen and (max-width: 768px) {
  .newsLetterStyle1{  
    .newsLetter__wrapper{
      flex-direction: column;
      padding: 30px 30px;
      border-radius: 10px;
    }

    .newsLetter__left{
      width: 100%;
    }

    .newsLetter__right{
      width: 100%;
      padding-left: 0;
      padding-top: 20px;
    }

    .newsLetter__typography {
      .heading {
        font-size: 26px;
      }
    }

    .newsLetter__formGroup {
      padding: 5px 5px;
    }

    .newsLetter__input {
      font-size: 16px;
    }

    .newsLetter__button {
      font-size: 16px;
      padding: 7px 10px;
      border-radius: 5px;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .newsLetterStyle1{
    .newsLetter__wrapper{
      padding: 40px 40px;
    }

    .newsLetter__left{
      width: 50%;
    }

    .newsLetter__right{
      width: 50%;
      padding-left: 25px;
    }

    .newsLetter__typography {
      .heading {
        font-size: 30px;
      }
    }

    .newsLetter__formGroup {
      padding: 10px 10px;
    }

    .newsLetter__input {
      font-size: 18px;
    }

    .newsLetter__button {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .newsLetterStyle1{  
    .newsLetter__wrapper{
      padding: 60px 60px;
    }

    .newsLetter__left{
    
    }

    .newsLetter__right{
    
    }

    .newsLetter__typography {
      .heading {
        font-size: 34px;
      }
    }

    .newsLetter__formGroup {
      padding: 10px 10px;
    }

    .newsLetter__input {
      font-size: 20px;
      padding: 5px 10px;
    }

    .newsLetter__button {
      font-size: 20px;
      padding: 12px 15px;
    }
  }
}
/* ------------------------------ */

/* Card Style4 */
.cardStyle4{
  .card--2{
    .card__image{      
      figure{
        img{
          border-radius:50%;
        }
      }
    }
  }

  .card--3{
    .card__image{      
      figure{
        img{
          border-radius:50%;
        }
      }
    }
  }
}
/* ------------------------------ */
