.errorBanner-v1 {
  .errorBanner {
    &__wrapper {
      text-align: center;

      & > *:not(:last-child) {
        margin-bottom: 25px;

        @media only screen and (max-width: 768px) {
          margin-bottom: 15px;
        }
      }
    }

    &__image {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;

      @media only screen and (max-width: 1440px) {
        max-width: 350px;
      }

      @media only screen and (max-width: 768px) {
        max-width: 294px;
      }

      figure {
        position: relative;
        width: 100%;
        height: 0;
        padding: 0 0 calc(100% * 357 / 500) 0;
        overflow: hidden;

        @media only screen and (max-width: 768px) {
          padding: 0 0 calc(100% * 210 / 294) 0;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
    }

    &__title {
      margin: 27px 0 21px 0;

      & .heading-1 {
        font-size: 40px;

        @media only screen and (max-width: 1600px) {
          font-size: 36px;
        }

        @media only screen and (max-width: 1440px) {
          font-size: 28px;
        }

        @media only screen and (max-width: 768px) {
          font-size: 28px;
          margin: 15px 0 10px 0;
        }
      }
    }

    &__description {
      font-size: 18px;
      font-family: "freightsans-medium";
      font-weight: 100;
      line-height: 1.3em;
      color: var(--primaryTextColor);

      @media only screen and (max-width: 768px) {
        font-size: 16px;
      }
    }

    &__redirection {
      &__title {
        margin-bottom: 32px;

        @media only screen and (max-width: 1440px) {
          margin-bottom: 20px;
        }
      }

      &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -15px -15px;

        @media only screen and (max-width: 768px) {
          margin: -5px -5px;
        }

        & > * {
          padding: 15px 15px;
          width: 260px;
          max-width: 100%;

          @media only screen and (max-width: 768px) {
            padding: 5px 5px;
          }
        }
      }
    }
  }
}
