@import "../partials/mixins";

.footerStyle1 {
  %heading {
    font-size: 20px;
    font-family: "freightsans-bold";
    font-weight: 100;
    line-height: 1.3em;
    color: var(--primaryColor);

    @media only screen and (max-width: 1440px) {
      font-size: 18px;
    }

    @media only screen and (max-width: 385px) {
      font-size: 16px;
    }
  }

  %text {
    font-size: 20px;
    font-family: "freightsans-medium";
    font-weight: 100;
    line-height: 1.3em;
    color: var(--primaryTextColor);

    @media only screen and (max-width: 1440px) {
      font-size: 18px;
    }

    @media only screen and (max-width: 385px) {
      font-size: 14px;
    }
  }

  .footer {
    &__top {
      padding: 50px 0;
      background-color: var(--primaryContrastColor);

      @media only screen and (max-width: 1440px) {
        padding: 35px 0;
      }

      @media only screen and (max-width: 768px) {
        padding: 25px 0;
      }

      &__wrapper {
        display: flex;

        @media only screen and (max-width: 1024px) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }
      }
    }

    &__bottom {
      padding: 22px 22px;
      background-color: var(--primaryColor);

      @media only screen and (max-width: 1440px) {
        padding: 18px 18px;
      }
    }

    &__description {
      width: 586px;
      max-width: 100%;
      padding-right: 25px;

      @media only screen and (max-width: 1440px) {
        width: 40%;
      }

      @media only screen and (max-width: 1024px) {
        width: 100%;
        max-width: 586px;
        padding-bottom: 35px;
        padding-right: 0;
      }

      @media only screen and (max-width: 480px) {
        display: none;
        padding-bottom: 0;
      }

      & .footer__heading {
        margin-bottom: 15px;
      }
    }

    &__logo {
      width: 115px;
      margin-bottom: 20px;

      figure {
        position: relative;
        width: 100%;
        height: 0;
        padding: 0 0 calc(100% * 150 / 300) 0;
        overflow: hidden;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
    }

    &__heading {
      @extend %heading;
    }

    &__text {
      @extend %text;

      &--white {
        color: var(--white);
      }

      &--center {
        text-align: center;
      }
    }

    &__navigation {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: -25px -25px;

      @media only screen and (max-width: 1440px) {
        margin: -15px -15px;
      }

      @media only screen and (max-width: 1024px) {
        margin: -25px -25px;
      }

      @media only screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: -8px -8px;
      }

      .navigation {
        padding: 25px 25px;

        @media only screen and (max-width: 1440px) {
          padding: 15px 15px;
        }

        @media only screen and (max-width: 1024px) {
          padding: 25px 25px;
        }

        @media only screen and (max-width: 768px) {
          padding: 8px 8px;
        }

        &__heading {
          @extend %heading;
          margin-bottom: 15px;
        }

        &__list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 5px 50px;

          @media only screen and (max-width: 1440px) {
            gap: 5px 30px;
          }

          @media only screen and (max-width: 768px) {
            gap: 5px 20px;
          }

          @media only screen and (max-width: 340px) {
            grid-template-columns: repeat(1, 1fr);
          }
        }

        &__link {
          @extend %text;
          @include trim(1);
          transition: color var(--transition-short) ease;

          &:active,
          &:focus,
          &:hover {
            outline: none;
            cursor: pointer;
            color: var(--primaryColor);
          }
        }
      }
    }
  }
}
