/* Color Theme */
@import "../partials/theme";
@import "../partials/mixins";

/* Header Style1 */
@import "../components/Header/Style1/index.scss";
/* Header Search Style1 */
@import "../components/Header/Search/Style1/index.scss";
/* Header Navigation Style1 */
@import "../components/Header/Navigation/Style1/index.scss";
/* Header Dropdown Style1 */
@import "../components/Header/Dropdown/Style1/index.scss";
/* Header MobileMenu Style1 */
@import "../components/Header/MobileMenu/Style1/index.scss";

/* BreadCrumbs Style1 */
@import "../components/BreadCrumbs/Style1/index.scss";

/* Footer Style1 */
@import "../components/Footer/Style1/index.scss";

.contactGrid {
  padding-bottom: 110px;

  @media only screen and (max-width: 1440px) {
    padding-bottom: 50px;
  }

  @media only screen and (max-width: 768px) {
    padding-bottom: 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 41.152% 49.5%;
    gap: 9.347%;
    align-content: center;

    @media only screen and (max-width: 1440px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
    }

    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 25px;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__typography {
    margin-bottom: 20px;

    & .title {
      margin-bottom: 20px;

      @media only screen and (max-width: 768px) {
        margin-bottom: 10px;
      }

      & .heading-1 {
        font-size: 40px;

        @media only screen and (max-width: 1600px) {
          font-size: 36px;
        }

        @media only screen and (max-width: 1440px) {
          font-size: 28px;
        }

        @media only screen and (max-width: 768px) {
          font-size: 28px;
        }
      }
    }

    & .description {
      font-size: 16px;
      font-family: "freightsans-medium";
      font-weight: 100;
      line-height: 1.3em;
      color: var(--primaryTextColor);
      max-width: 530px;
    }
  }

  &__image {
    width: 100%;
    margin: auto 0;

    & figure {
      position: relative;
      width: 100%;
      height: 0;
      padding: 0 0 calc(100% * 479 / 842) 0;
      overflow: hidden;

      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  @media only screen and (max-width: 1280px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__group {
    grid-column: 1 / span 2;

    @media only screen and (max-width: 1280px) {
      grid-column: auto;
    }

    &--half {
      grid-column: auto;
    }

    &--btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & > div {
        @include fitContent();
        min-width: 190px;

        @media only screen and (max-width: 768px) {
          min-width: 144px;
        }

        @media only screen and (max-width: 390px) {
          min-width: 100%;
        }
      }
    }
  }
}

.inputStyle1 {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 25px;

  padding: 12px 24px;
  border-radius: 10px;
  border: 1px solid var(--primaryContrastColor);
  background-color: var(--white);

  &--no-icon {
    grid-template-columns: 1fr;
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__right {
    position: relative;
  }

  &__icon {
    display: inline-block;
    font-size: 14px;
    color: var(--primaryColor);
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    font-size: 24px;
    font-family: "freightsans-medium";
    font-weight: 100;
    line-height: 1.3em;
    color: var(--greyTextColor);
    white-space: nowrap;
    user-select: none;
    z-index: 1;
    transition: top var(--transition-short) linear;
  }

  &__input {
    // Reset
    appearance: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;

    position: relative;
    z-index: 2;

    font-size: 24px;
    font-family: "freightsans-medium";
    font-weight: 100;
    line-height: 1.3em;
    color: var(--primaryTextColor);
    padding: 6px 0;

    @include placeholder {
      font-size: 1px;
      color: transparent;
      user-select: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      background-color: transparent;
      color: currentColor;
      -webkit-text-fill-color: currentColor;
      -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 1) inset !important;
    }

    &:placeholder-shown {
      & ~ .inputStyle1__label {
        top: 50%;
      }
    }

    &.active, // Custom Class
    &:active,
    &:focus,
    // &:hover,
    &:not(:placeholder-shown) {
      margin-top: 10px;
      padding-top: 0;
      padding-bottom: 0;

      & ~ .inputStyle1__label {
        top: 0;
        font-size: 16px;
        font-family: "freightsans-medium";
        font-weight: 100;
        line-height: 1.2em;
      }
    }

    /* Text Area Styles */
    &--textarea {
      display: block;
      height: 190px;
      resize: none;

      & ~ .inputStyle1__label {
        top: 0;
        transform: translateY(0);
      }

      &:placeholder-shown {
        & ~ .inputStyle1__label {
          top: 0;
          transform: translateY(0);
        }
      }

      &.active,
      &:active,
      &:focus,
      &:not(:placeholder-shown) {
        & ~ .inputStyle1__label {
          top: -8px;
          transform: translateY(0);
        }
      }
    }
  }
}

.x_user-1{
  display: flex;
}
.x_phone-1{
  display: flex;
}
.x_envelope-1{
  display: flex;
}
