.breadCrumbStyle1 {
  /* BreadCrumb Link Styles Starts Here */
  .breadCrumb {
    font-size: 14px;
    font-family: "freightsans-medium";
    font-weight: 100;
    line-height: 1.3em;
    color: var(--primaryTextColor);
    text-align: center;

    display: inline-block;
    padding: 6px 6px;
    border-radius: 5px;
    background-color: var(--primaryContrastColor);
    transition: color var(--transition-short) linear,
      background-color var(--transition-short) linear;

    &:active,
    &:focus,
    &:hover {
      outline: none;
      cursor: pointer;
      color: var(--white);
      background-color: var(--primaryColor);
    }
  }
  /* BreadCrumb Link Styles Ends Here */

  /* BreadCrumb Listing (Layout/ Grid) Styles Starts Here */
  .breadCrumbListing {
    // This should be ul tag
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5px 0;
    margin: -5px -5px;

    @media (max-width: 768px) {
      display: none;
    }

    & > * {
      // This should be li tag
      padding: 5px 5px;
    }
  }
  /* BreadCrumb Listing (Layout/ Grid) Styles Ends Here */
}
