.tabularDetailsStyle1 {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  padding-bottom: 10px;

  @media only screen and (max-width: 768px) {
    max-width: calc(100vw - 40px);
  }

  .tabularDetails {
    &__table {
      width: 100%;
      border: none;
      border-spacing: 0;
      border-collapse: collapse;

      tr {
        padding-bottom: 5px;

        &:first-of-type {
          padding-bottom: 15px;
        }

        &:last-of-type {
          padding-bottom: 0;
        }
      }

      th,
      td {
        text-align: right;
        padding: 10px 0;

        @media only screen and (max-width: 768px) {
          padding: 7px 0;
        }

        &:first-of-type {
          text-align: left;
        }

        &:not(:last-of-type) {
          padding-right: 20px;
        }
      }

      th {
        font-size: 20px;
        font-family: "freightsans-bold";
        font-weight: 100;
        line-height: 1.2em;
        color: var(--primaryTextColor);
        white-space: nowrap;

        @media only screen and (max-width: 1024px) {
          font-size: 18px;
        }

        @media only screen and (max-width: 768px) {
          font-size: 16px;
        }
      }

      td {
        font-size: 20px;
        font-family: "freightsans-medium";
        font-weight: 100;
        line-height: 1.2em;
        color: var(--primaryTextColor);

        @media only screen and (max-width: 1024px) {
          font-size: 16px;
        }

        @media only screen and (max-width: 768px) {
          font-size: 14px;
        }

        &.longColumn {
          min-width: 300px;
        }
      }
    }
  }
}
