.productPreviewStyle1 {
  .productPreview {
    .t1 {
      font-size: 29px;
      font-family: "freightsans-medium";
      font-weight: 100;
      line-height: 1.2em;
      color: var(--primaryTextColor);
      margin-bottom: 16px;

      @media only screen and (max-width: 1800px) {
        font-size: 24px;
      }

      @media only screen and (max-width: 768px) {
        font-size: 20px;
      }
    }

    .t2 {
      font-size: 16px;
      font-family: "freightsans-book";
      font-weight: 100;
      line-height: 1.2em;
      color: var(--darkGreyColor);

      @media only screen and (max-width: 1800px) {
        font-size: 14px;
      }

      @media only screen and (max-width: 768px) {
        font-size: 16px;
      }
    }

    .t3 {
      font-size: 23px;
      font-family: "freightsans-book";
      font-weight: 100;
      line-height: 1.2em;
      color: var(--darkGreyColor);

      @media only screen and (max-width: 1800px) {
        font-size: 20px;
      }

      @media only screen and (max-width: 768px) {
        font-size: 14px;
      }
    }

    hr {
      margin: 15px 0;
      border: none;
      border-top: 1px solid var(--greyTextColor);
    }

    &__wrapper {
      padding: 45px 55px;
      border-radius: 20px;
      background-color: var(--primaryContrastColor);

      @media only screen and (max-width: 1800px) {
        padding: 35px 45px;
      }

      @media only screen and (max-width: 768px) {
        width: 100vw;
        margin: 0 -20px;
        padding: 30px 35px;
        border-radius: 0;
      }
    }

    &__head {
      margin-bottom: 32px;

      @media only screen and (max-width: 1800px) {
        margin-bottom: 25px;
      }
    }

    &__mid {
      display: flex;
      align-items: flex-start;
      margin: -32px -32px;

      @media only screen and (max-width: 1800px) {
        margin: -20px -20px;
      }

      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }

      & > * {
        padding: 32px 32px;

        @media only screen and (max-width: 1800px) {
          padding: 20px 20px;
        }
      }
    }

    &__bottom {
    }

    &__title {
      font-size: 44px;
      font-family: "freightsans-medium";
      font-weight: 100;
      line-height: 1.35em;
      color: var(--primaryTextColor);

      @media only screen and (max-width: 1800px) {
        font-size: 38px;
      }

      //   @media only screen and (max-width: 768px) {
      //     font-size: 48px;
      //   }

      @media only screen and (max-width: 420px) {
        font-size: 32px;
      }
    }

    &__subTitle {
      font-size: 23px;
      font-family: "freightsans-medium";
      font-weight: 100;
      line-height: 1.3em;
      color: var(--primaryColor);
      text-transform: uppercase;

      @media only screen and (max-width: 1800px) {
        font-size: 20;
      }

      @media only screen and (max-width: 768px) {
        font-size: 16px;
      }
    }

    &__image {
      width: 33%;
      min-width: 320px;

      @media only screen and (max-width: 1800px) {
        width: 30%;
      }

      @media only screen and (max-width: 768px) {
        width: 100%;
        min-width: unset;
      }

      figure {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0 0 100% 0;
        overflow: hidden;
        border-radius: 20px;

        @media only screen and (max-width: 768px) {
          padding: 0 0 calc(100% * 209 / 358) 0;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: inherit;
        }
      }
    }

    &__details {
      ul {
        & > *:not(:last-child) {
          margin-bottom: 16px;

          @media only screen and (max-width: 1800px) {
            margin-bottom: 10px;
          }
        }

        li {
          color: var(--darkGreyColor);
          padding-left: 38px;

          @media only screen and (max-width: 1800px) {
            padding-left: 30px;
          }

          &::before {
            content: "\f00c";
            font-family: "xicons";
            font-size: 22px;
            color: var(--primaryColor);

            display: block;
            position: absolute;
            top: 0;
            left: 0;

            width: auto;
            height: auto;
            border-radius: 0;
            background-color: transparent;

            @media only screen and (max-width: 1800px) {
              font-size: 18px;
            }
          }
        }
      }
    }

    &__accordion {
      .accordion {
        &__head {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 25px 25px;
          color: var(--primaryTextColor);
          transition: color var(--transition-short) linear;

          @media only screen and (max-width: 1800px) {
            padding: 20px 20px;
          }

          @media only screen and (max-width: 768px) {
            justify-content: space-between;
            padding: 15px 15px;
          }

          &.active,
          &:active,
          &:focus,
          &:hover {
            outline: none;
            cursor: pointer;
            // color: var(--primaryColor);
          }

          &.active {
            & .icon {
              transform: rotate(180deg);
            }
          }

          & .text {
            display: inline-block;
            font-size: 23px;
            font-family: "freightsans-medium";
            font-weight: 100;
            line-height: 1.2em;
            color: var(--darkGreyColor);
            color: inherit;

            @media only screen and (max-width: 1800px) {
              font-size: 20px;
            }
          }

          & .icon {
            display: inline-block;
            font-size: 24px;
            color: inherit;
            margin-left: 20px;
            transition: transform var(--transition-short) linear;

            @media only screen and (max-width: 1800px) {
              font-size: 18px;
            }
          }
        }

        %flexChildrenSpacing {
          margin: -22px -22px;

          @media only screen and (max-width: 1800px) {
            margin: -15px -15px;
          }

          @media only screen and (max-width: 768px) {
            margin: -20px -20px;
          }

          & > * {
            padding: 22px 22px;

            @media only screen and (max-width: 1800px) {
              padding: 15px 15px;
            }

            @media only screen and (max-width: 768px) {
              padding: 20px 20px;
            }
          }
        }

        &__content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          @extend %flexChildrenSpacing;

          @media only screen and (max-width: 1280px) {
            flex-direction: column;
          }

          @media only screen and (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;

            width: 100%;
            max-width: 277px;
            margin: 0 auto !important;
          }

          & > * {
            @media only screen and (max-width: 768px) {
              padding: 0 0 !important;
            }
          }

          &__left {
          }

          &__right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @extend %flexChildrenSpacing;

            @media only screen and (max-width: 768px) {
              display: grid;
              grid-template-columns: 1fr;
              gap: 20px;

              width: 100%;
              margin: 0 !important;
              justify-items: center;
            }

            & > * {
              @media only screen and (max-width: 768px) {
                padding: 0 0 !important;
              }
            }
          }

          .attributes {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @extend %flexChildrenSpacing;

            @media only screen and (max-width: 768px) {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 25px 50px;
              margin: 0 0 !important;
            }

            & > * {
              @media only screen and (max-width: 768px) {
                padding: 0 0 !important;
              }
            }

            &__item {
              @media only screen and (max-width: 768px) {
                text-align: center;
              }

              figure {
                position: relative;
                width: 38px;
                height: 38px;
                overflow: hidden;
                border-radius: 0;
                margin-bottom: 3px;

                @media only screen and (max-width: 1800px) {
                  width: 30px;
                  height: 30px;
                }

                @media only screen and (max-width: 768px) {
                  width: 32;
                  height: 32;
                  margin: 0 auto;
                  margin-bottom: 12px;
                }

                img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  object-position: left center;
                }
              }

              p {
                font-size: 17px;
                font-family: "freightsans-book";
                font-weight: 100;
                line-height: 1.2em;
                color: var(--primaryTextColor);

                @media only screen and (max-width: 1800px) {
                  font-size: 14px;
                }

                @media only screen and (max-width: 768px) {
                  font-size: 14px;
                }

                & .primary {
                  font-size: 20px;
                  font-family: "freightsans-medium";
                  color: var(--primaryColor);
                  margin-bottom: 3px;

                  @media only screen and (max-width: 1800px) {
                    font-size: 16px;
                  }

                  @media only screen and (max-width: 768px) {
                    font-size: 18px;
                    margin-bottom: 12px;
                  }
                }

                & > * {
                  display: block;
                }
              }
            }
          }
        }
      }
    }

    &__code {
      min-width: 365px;

      @media only screen and (max-width: 1800px) {
        min-width: 320px;
      }

      @media only screen and (max-width: 768px) {
        min-width: unset;
        width: 100%;
      }

      & span {
        display: inline-block;
        width: 100%;
        font-size: 18px;
        font-family: "freightsans-medium";
        font-weight: 100;
        line-height: 1.2em;
        text-align: center;
        color: var(--primaryTextColor);
        padding: 10px 10px;
        border-radius: 10px;
        border: 1px dotted var(--primaryColor);

        @media only screen and (max-width: 1800px) {
          font-size: 16px;
        }

        @media only screen and (max-width: 768px) {
          font-size: 13px;
          padding: 16px 18px;
        }
      }
    }

    &__btn {
      width: 100%;
      max-width: 241px;

      @media only screen and (max-width: 768px) {
        max-width: 209px;
      }

      a {
        // Reset
        appearance: none;
        outline: none;
        border: none;
        margin: 0;
        padding: 0;

        display: inline-block;
        width: 100%;
        font-size: 24px;
        font-family: "freightsans-medium";
        font-weight: 100;
        line-height: 1.3em;
        color: var(--white);
        white-space: nowrap;
        text-align: center;
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid var(--primaryColor);
        background-color: var(--primaryColor);
        transition: color var(--transition-short) linear,
          background-color var(--transition-short) linear;

        @media only screen and (max-width: 1800px) {
          font-size: 18px;
        }

        @media only screen and (max-width: 1024px) {
          font-size: 16px;
        }

        @media only screen and (max-width: 768px) {
          font-size: 12px;
          padding: 10px 25px;
          border-radius: 18px;
        }

        &.active,
        &:active,
        &:focus,
        &:hover {
          outline: none;
          cursor: pointer;
          color: var(--primaryColor);
          background-color: var(--bodyColor);
        }
      }
    }
  }
}
