/* Color Theme */
@import "../partials/theme";

/* Header Style1 */
@import "../components/Header/Style1/index.scss";
/* Header Search Style1 */
@import "../components/Header/Search/Style1/index.scss";
/* Header Navigation Style1 */
@import "../components/Header/Navigation/Style1/index.scss";
/* Header Dropdown Style1 */
@import "../components/Header/Dropdown/Style1/index.scss";
/* Header MobileMenu Style1 */
@import "../components/Header/MobileMenu/Style1/index.scss";

/* BreadCrumbs Style1 */
@import "../components/BreadCrumbs/Style1/index.scss";

/* DiscountCard Style1 */
@import "../components/DiscountCard/Style1/index.scss";

/* DiscountCard Style2 */
@import "../components/DiscountCard/Style2/index.scss";

/* Card Style3 */
@import "../components/Cards/Style3/index.scss";
/* Card Style4 */
@import "../components/Cards/Style4/index.scss";

/* Two Column Layout V1 */
@import "../components/Miscellaneous/two-column-layout-v1.scss";
/* Popular Listing V1 */
@import "../components/Miscellaneous/popular-listing-v1.scss";
/* Card Grid Layout V1 */
@import "../components/Miscellaneous/card-grid-layout-v1.scss";
/* Richtext Content V1 */
@import "../components/Miscellaneous/richtext-content-v1.scss";

/* NewsLetterForm Style1 */
@import "../components/NewsLetterForm/Style1/index.scss";
/* NewsLetterForm Style2 */
@import "../components/NewsLetterForm/Style2/index.scss";

/* Footer Style1 */
@import "../components/Footer/Style1/index.scss";

/* Blog Inner Helper Page Classes Starts Here */
.blogInner {
  &__heading {
    max-width: 50%;

    @media only screen and (max-width: 1023px) {
      max-width: 100%;
    }

    & .heading-2 {
      line-height: 1.2em;
    }
  }

  &__date {
    font-size: 20px;
    font-family: "freightsans-medium";
    font-weight: 100;
    line-height: 1.35em;
    color: var(--lightGreyColor);
  }
}

/* Blog Inner Helper Page Classes Ends Here */

/* Blog Inner Grid Starts Here */
.blogInnerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  @media only screen and (max-width: 1280px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &--category {
    & > *:nth-child(1n + 7) {
      @media only screen and (max-width: 1023px) {
        display: none;
      }
    }
  }
}
/* Blog Inner Grid Ends Here */
