/* Color Theme */
@import "../partials/theme";

/* Header Style1 */
@import "../components/Header/Style1/index.scss";
/* Header Search Style1 */
@import "../components/Header/Search/Style1/index.scss";
/* Header Navigation Style1 */
@import "../components/Header/Navigation/Style1/index.scss";
/* Header Dropdown Style1 */
@import "../components/Header/Dropdown/Style1/index.scss";
/* Header MobileMenu Style1 */
@import "../components/Header/MobileMenu/Style1/index.scss";

/* Card Style1 */
@import "../components/Cards/Style1/index.scss";
/* Card Style2 */
@import "../components/Cards/Style2/index.scss";
/* Card Style3 */
@import "../components/Cards/Style3/index.scss";
/* Card Style4 */
@import "../components/Cards/Style4/index.scss";

/* Banner Style1 */
@import "../components/Banner/Style1/index.scss";
/* Popular Listing V1 */
@import "../components/Miscellaneous/popular-listing-v1.scss";
/* Card Grid Layout V1 */
@import "../components/Miscellaneous/card-grid-layout-v1.scss";
/* NewsLetterForm Style1 */
@import "../components/NewsLetterForm/Style1/index.scss";
/* Footer Style1 */
@import "../components/Footer/Style1/index.scss";

/* Home Page Category Cards Swiper Slider Styles Starts Here */
.homeCategorySwiper {
  &__container {
    position: relative;
    padding: 0 50px;

    @media only screen and (max-width: 1600px) {
      padding: 0 30px;
    }

    @media only screen and (max-width: 480px) {
      padding: 0 0;
    }

    & .swiper-button-next,
    & .swiper-button-prev {
      width: 100px;
      height: 100px;
      background-color: var(--white);
      border-radius: 50%;
      border: 11px solide var(--white);
      color: var(--primaryColor);
      transition: background-color $transition-short linear;

      @media only screen and (max-width: 1600px) {
        width: 60px;
        height: 60px;
      }

      @media only screen and (max-width: 480px) {
        display: none;
      }

      &:hover {
        background-color: var(--primaryContrastColor);
      }

      &::before,
      &::after {
        font-size: 16px;
      }
    }

    & .swiper-button-next {
      right: 0;

      @media only screen and (max-width: 1600px) {
        right: 0;
      }
    }

    & .swiper-button-prev {
      left: 0;

      @media only screen and (max-width: 1600px) {
        left: 0;
      }
    }
  }

  &.swiper {
    width: 100%;
    height: 100%;
  }

  & .swiper-slide {
    .cardStyle1 {
      width: 100%;
      max-width: 413px;

      @media only screen and (max-width: 480px) {
        max-width: 100%;
      }
    }
  }
}
/* Home Page Category Cards Swiper Slider Styles Ends Here */
