/* Color Theme */
@import "../partials/theme";

/* Header Style1 */
@import "../components/Header/Style1/index.scss";
/* Header Search Style1 */
@import "../components/Header/Search/Style1/index.scss";
/* Header Navigation Style1 */
@import "../components/Header/Navigation/Style1/index.scss";
/* Header Dropdown Style1 */
@import "../components/Header/Dropdown/Style1/index.scss";
/* Header MobileMenu Style1 */
@import "../components/Header/MobileMenu/Style1/index.scss";

/* BreadCrumbs Style1 */
@import "../components/BreadCrumbs/Style1/index.scss";

/* StoreInfoCard Style1 */
@import "../components/StoreInfoCard/Style1/index.scss";
/* DiscountCard Style1 */
@import "../components/DiscountCard/Style1/index.scss";

/* Card Style3 */
@import "../components/Cards/Style3/index.scss";
/* Card Style4 */
@import "../components/Cards/Style4/index.scss";
/* Card Style5 */
@import "../components/Cards/Style5/index.scss";

/* TabularDetails Style1 */
@import "../components/TabularDetails/Style1/index.scss";

/* Accordion Style1 */
@import "../components/Accordion/Style1/index.scss";

/* StoreAbout Style1 */
@import "../components/StoreAbout/Style1/index.scss";

/* Rating Style1 */
@import "../components/Rating/Style1/index.scss";

/* Two Column Layout V1 */
@import "../components/Miscellaneous/two-column-layout-v1.scss";
/* Popular Listing V1 */
@import "../components/Miscellaneous/popular-listing-v1.scss";
/* Card Grid Layout V1 */
@import "../components/Miscellaneous/card-grid-layout-v1.scss";
/* Filters V1 */
@import "../components/Miscellaneous/filters-v1.scss";

/* NewsLetterForm Style1 */
@import "../components/NewsLetterForm/Style1/index.scss";

/* Footer Style1 */
@import "../components/Footer/Style1/index.scss";

/* Store Inner Grid Starts Here */
.storeInnerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  @media only screen and (max-width: 1280px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &--category {
    & > *:nth-child(1n + 7) {
      @media only screen and (max-width: 1023px) {
        display: none;
      }
    }
  }
}
/* Store Inner Grid Ends Here */

/* Store Inner FAQ Listing Starts Here */
.faqListing {
  display: grid;
  grid-template-columns: 1fr;
  gap: 45px;

  @media only screen and (max-width: 768px) {
    gap: 30px;
  }
}
/* Store Inner FAQ Listing Ends Here */
